<div id="logo_gate">
  <%= link_to image_tag("/assets/logo.jpg"), :controller => 'home', :action => 'index' %>
  <p id="enter" align="center" > <%= link_to "ENTER", :controller => 'home', :action => 'index' %></p>
<div/>

