<section id="player">
<iframe src="http://player.vimeo.com/video/18083469?title=0&amp;byline=0&amp;portrait=0" width="764" height="454" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>&nbsp;</p>
<strong>V Magazine</strong> - Jingle Bel Rocks!</p>
<strong>Director assistant & Editor</strong>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts2' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts4' %>
</div>
</section>