<section id="player">
<iframe src="http://player.vimeo.com/video/19141843?title=0&amp;byline=0&amp;portrait=0" width="764" height="454" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>&nbsp;</p>
<p class="black">BOYS OF FASHION WEEK FW2011 - JAK AND JIL BLOG - Featured in style.com </p>
<p class="stronggrey">Director assistant </p>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts5' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts7' %>
</div>
</section>