<section id="player">
<%= image_tag("/assets/maxmara.png", :width => '764', :height => '454') %>
<p>&nbsp;</p>
<strong>MAXMARA</strong> - backstage video</p>
<strong>Director assistant & Editor</strong>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_commercial1' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_commercial' %>
</div>
</section>