<section id="player">
<iframe width="764" height="454" src="http://www.youtube.com/embed/8_SRumdXP_Q" frameborder="0" allowfullscreen></iframe>
<p>&nbsp;</p>
<strong>GASPARD YURKIEVICH SS2012</strong> - video campaign </p>
<strong>Director assistant & Editor</strong>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_commercial' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_commercial2' %>
</div>
</section>