<section id="player">
<iframe width="764" height="454" src="http://www.youtube.com/embed/azrKHpCwvm0" frameborder="0" allowfullscreen></iframe>
<p>&nbsp;</p>
<strong>DOLCE & GABBANA</strong> - <span style="font-size:13px;">swide.com presents florrie - featured in vogue italia, popjustice, hardcandy music video</span></p>
<strong>Director assistant & Editor</strong>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts1' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts3' %>
</div>
</section>