<section id="player">
<iframe src="http://player.vimeo.com/video/19286888?title=0&amp;byline=0&amp;portrait=0" width="764" height="454" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>&nbsp;</p>
<p class ="black">JANTAMINIAU COUTURE - MODELS.COM</p>
<p class = "stronggrey">Director assistant</p>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts3' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts5' %>
</div>
</section>