<section id="player">
<iframe width="764" height="454" src="http://www.youtube.com/embed/RQmDkrSNx4Y" frameborder="0" allowfullscreen></iframe>
<p>&nbsp;</p>
<p class = "black">C'est Magnifique ! feat. Francisco Lachowski & Jessiann</p>
<p class = "stronggrey">Director assistant</p>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts7' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts0' %>
</div>
</section>