<section id="player">
<iframe src="http://player.vimeo.com/video/12931803?title=0&amp;byline=0&amp;portrait=0" width="764" height="454" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>&nbsp;</p>
<strong>BOYS OF PARIS FASHION WEEK SS2011</strong> - THEFASIONISTO.COM </p>
<strong>Director assistant</strong>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts6' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts' %>
</div>
</section>