<section id="player">
<iframe src="http://player.vimeo.com/video/31573951?title=0&amp;byline=0&amp;portrait=0" width="764" height="454" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>&nbsp;</p>
<p class = "black">ANTIDOTE MAGAZINE- the shoe party</p>
<p class = "stronggrey">Director assistant & Editor</p>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts2' %>
</div>
</section>
