<section id="player">
<iframe width="764" height="454" src="http://www.youtube.com/embed/Y6723wQeqbI" frameborder="0" allowfullscreen></iframe>
<p>&nbsp;</p>
<strong>V Magazine</strong> - Happy Valentine's day</p>
<strong>Camera assistant & behind the scenes photographer</strong>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts7' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts1' %>
</div>
</section>