<section id="player">
<iframe src="http://player.vimeo.com/video/26787485" width="764" height="454" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<p>&nbsp;</p>
<p class="black">BOYS OF FASHION WEEK SS2012 - featured on cbs news, cosmopolitan, vogue, vh1, ny mag...</p>
<p class="stronggrey">Director assistant </p>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'coll_films_shorts4' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'coll_films_shorts6' %>
</div>
</section>