<div class = "contact">
<span class ="cv" >
  <p>REMI GUENAIRE</p>
  <p>&nbsp;</p>
  <p>EMAIL: <span class = "stronggrey"><%= mail_to 'info@remiguenaire.com' %></span>
  <p>&nbsp;</p>
  <p>TEL: <span class="stronggrey"> +33 679 62 05 00 </span></p>
  <p>&nbsp;</p>
</span>
</div>
