<section id="player">
<iframe width="764" height="454" src="http://www.youtube.com/embed/RcHOpceogLI" frameborder="0" allowfullscreen></iframe>
<p>&nbsp;</p>
<p><strong>Lanvin - Fashion Show Fall Winter 2013 - After Party</strong></p>
<strong>Director & Editor</strong>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'films_commercial1' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'films_commercial0' %>
</div>
</section>