<section id="player">
<div id="LV">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p align="center">LOUIS VUITTON - FASHION SHOW WOMEN SPRING/SUMMER 2013</p>
  <p>&nbsp;</p>
  <p align="center" class="grey">Official backstage caméraman</p>
  <p align="center" class="grey">Film, interviews, editing</p>
</div>

<p>&nbsp;</p>
<p>&nbsp;</p>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'films_commercial1' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'films_commercial1' %>
</div>
</section>