<section id="player">
  <iframe width="764" height="454" src="http://www.youtube.com/embed/zwkiHSX-jw4" frameborder="0" allowfullscreen></iframe>
<p>&nbsp;</p>
<strong>L'OFFICIEL UKRAINE</strong> - On the Hunt - Backstage video </p>
<strong>Director & Editor</strong>
<div id="nav_film">
  <%= link_to 'previous', :controller => 'pages', :action => 'films_commercial' %>
  /
  <%= link_to 'next', :controller => 'pages', :action => 'films_commercial' %>
</div>
</section>
