<div class="cv">
<span class="black">
<p>
JUSTIN WU’S PHOTOGRAPHER ASSISTANT - 2010 / TODAY
</p>
</span>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
  <span class = "stronggrey">
<p>
GASPARD YURKIEVICH
</p>
</span>
<span class = "grey">
<p>
AD CAMPAIGN SS2012
</p>
</span>
<p>&nbsp;</p>
<p>&nbsp;</p>

<span class = "stronggrey">
<p>
AXARA
</p>
</span>
<span class="grey">
<p>
AD CAMPAIGN & LOOKBOOK SS2012
</p>
<p>
AD CAMPAIGN & LOOKBOOK FW2011
</p>
</span>
<p>&nbsp;</p>
<p>&nbsp;</p>
 
<span class = "stronggrey">
<p>
SEE BY CHLOE
</p>
</span>
<span class="grey">
<p>
LOOKBOOK ACCESSORIES FW2012
</p>
</span>
<p>&nbsp;</p>
<p>&nbsp;</p>

<span class = "stronggrey">
<p>
ALBUM COVER - BAPTISTE GIABOCONI
</p>
</span>
</div>
