<div class= "cv">
  <strong>JUSTIN WU’S PHOTOGRAPHER ASSISTANT - 2010 / TODAY</strong>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>
    L’OFFICIEL FOREIGN EDITIONS
  </p>
  <p>
    N94-2012 cover + editorial haute couture
  </p>
  <p>
    N91-2011 editorial prêt à porter
  </p>
  <p>
    N87-2011 cover + editorial haute couture
  </p>
  <p>
    N84-2011 cover + editorial haute couture (retoucher)
  </p>
  <p>&nbsp;</p>
  <p> 
    FIASCO MAGAZINE
  </p>
  <p>
    N12-2011 cover + editorial haute couture
  </p>
  <p>
    N11-2011 editorial
  </p>
  <p>&nbsp;</p>
  <p>
    PPAPER FASHION
  </p>
  <p>
    N09-2011 editorial prêt à porter
  </p>
  <p>
    N07-2011 cover + editorial prêt à porter (retoucher)
  </p>
  <p>&nbsp;</p>
  <p>
    TÊTU MAGAZINE
  </p>
  <p>
    N160-2010 editorial prêt à porter
  </p>
  <p>&nbsp;</p>
  <p>
    THE RAKE
  </p>
  <p>
    N17-V5-2011 editorial prêt à porter
  </p>
  <p>&nbsp;</p>
  <p>
    GLAMOHOLIC - BAPTISTE GIABICONI
  </p>
  <p>
    N05-2011 editorial prêt à porter
  </p>
</div>