<div class= "cv">
  <strong>JUSTIN WU’S PHOTOGRAPHER ASSISTANT - 2010 / TODAY</strong>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3>
    L’OFFICIEL FOREIGN EDITIONS
  </h3>
  <span class="grey">
  <p>
    N94-2012 Cover & Editorial Haute Couture
  </p>
  <p>
    N91-2011 Editorial Prêt à Porter
  </p>
  <p>
    N87-2011 Cover & Editorial Haute Couture
  </p>
  <p>
    N84-2011 Cover & Editorial Haute Couture 
    </p>
  </span>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3> 
    FIASCO MAGAZINE
    </h3>
  <span class="grey">
  <p>
    N12-2011 Cover & Editorial Haute Couture
  </p>
  <p>
    N11-2011 Editorial
  </p>
</span>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3>
    PPAPER FASHION
    </h3>
    <span class="grey">
  <p>
    N09-2011 Editorial Prêt à Porter
  </p>
  <p>
    N07-2011 Cover & Editorial Prêt à Porter 
    </p>
  </span>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3>
    TÊTU MAGAZINE
    </h3>
    <span class="grey">
  <p>
    N160-2010 Editorial Prêt à Porter
    </p>
  </span>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3>
    THE RAKE
    </h3>
    <span class="grey">
  <p>
    N17-V5-2011 Editorial Prêt à Porter
    </p>
  </span>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3>
    GLAMOHOLIC - BAPTISTE GIABICONI
    </h3>
    <span class="grey">
  <p>
    N05-2011 Editorial Prêt à Porter
    </p>
  </span>
</div>