/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require galleria.classic
 *= require_tree . 
*/

#logo{
	width: 319px;
	height: 100px;
	margin-top: 10px;
	margin-left: 20px;
  margin-bottom: 20px;
}

.sub-level{
  color: #666
}

.res{
  display: block;
}

.film{
  color: #333}


