// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cv{
  font-family: 'Gill Sans', Helvetica, Arial, sans-serif;
  font-size: .9em;
  margin-left: 200px;
  line-height: 2px;
}

.cv h3 {
  font-size: .9em;
}

.cv p {
  font-size: .9em;
}

#contact{
  margin-top: 220px;
  margin-left: 350px;
}

#nav_film{
  margin-right:390px;
  margin-top: 40px;
  float: right;
}

#LV{
  width: 764px;
  height: 454px;
  border: 1px solid black;
}

.grey{
  color: #bfbfbf;
}
.black{
  color: black;
}
.stronggrey{
  color: #808080;
}


#player{
  margin-top: 15px;
  margin-left: 120px;
  font-size: .7em;
}
#top_logo{
  width: 319px;
  height: 40px;
}
