<!DOCTYPE html>
<html>
<head>
  <title>Rémi Guénaire</title>
  <meta name"description" content="Rémi Guénaire - Fashion Photographer - Film Director & Editor based in Paris"/> 
  <meta name="keywords" content="fashion, paris, rémi, guenaire, photographer, photo, photography" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>

</html>